<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h3>All Chats</h3>
    <% for(let chat of chats) { %>
        <div class="chat">
            <p> From : <%= chat.from%></p>
            <div class="msg">
                <p><%= chat.msg %></p>
                <form action="/chats/<%= chat._id %>/edit" method="get">
                    <button>Edit</button>
                </form>
                
            </div>
            <p>Recived by <%= chat.to %></p>
            <hr>
            <%= chat.created_at.toString().split(" ")[4] %> <br>
            <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %>
            <br>
            
        </div>
        
    <% } %>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
</body>
</html>